// ------ fontsize definition ------
$fontsize-xs: .6rem;
$fontsize-s: .8rem;
$fontsize-m: 1rem;
$fontsize-l: 1.1rem;
$fontsize-xl: 1.5rem;
$fontsize-xxl: 2rem;
// ------ fontweight definition ------
$fontweight-bold: bold;
$fontweight-normal: normal;
$fontweight-s: 900;
$fontweight-m: 1200;
// ------ color definition

$content-bgcolor: white;
$content-color: #666;

// btn -------- begin
$btn-bg: #09f;
$btn-color: #f0f0f0;
$btn-bg-tint: #3af;

$btn-active-bg: #08f;
$btn-active-color: #fff;

$btn-warn-bg: #f65;
$btn-ok-bg: #cfc;

$btn-invalid-bg: #ccc;
$btn-invalid-color: #999;
// btn -------- end


//$main-bgcolor: rgba(0, 0, 0, 0.7)
$main-bgcolor: #323232;    // 主 - 背景颜色
$main-bgcolor-a: rgba(0, 0, 0, 0.7) ;   // 主 - 背景颜色 - 带透明
$main-color: #141414;     // 主 - 前景颜色
$main-bdcolor: #f5f5f5;   // 主 - 边框/分割线颜色

$main-mapbgcolor: #f5f5f5; //地图页背景色
$border-map: #91ccff; //地图页左右边框颜色
$angle-map: #48aaff; //地图页左右边框角颜色
$progress-bar: #c0c0c0; //进度条颜色
$border-line: #e9e9e9; //边框线颜色
$map-right-title: #e3f2ff; //地图右侧title
$map-right-cont: #9cd1ff;
$make-sure: #27ca41; //确认
$make-default: #ff6057; // 取消
$active-sure: #3399ff; //选中
$border-btm: #e2e3e5; //border-bottom
$icon-fill: #353535; //icon-color
$driveface-bg: #E2E2E2; //掘进面背景色

$material-border: #c1ca23; // 物料PPT外边框
$material-border-in: #7cbb65; // 物料PPT内边框
$homepage-border: #e1e1e1; // 报表 管理 配置主页边框
$homepage-iconbg: #c1e2ff; // 报表 管理 配置主页icon背景
$homepage-bg: #f1f1f1; // 报表 管理 配置主页背景
$homepage-textBG: #eff7ff; // 报表 管理 配置主页文字背景
$page-bg: #f2f2f2;
$basic-msg-tab: #ceefdb; // 基础信息表 左边框颜色
$basic-busin-tab: #d2f5fe ;// 业务表
$basic-cred-tab: #fae2d1 ;// 证件表

$minor-bgcolor: #F4F4F4 ; // 次 - 背景
$minor-bgcolor-a: rgba(232, 232, 232, 0.8) ;   // 次 - 背景颜色 - 带透明
$minor-color: #000000 ;   // 次 - 文字、内容
$page-color: #666;
$fill-color: #999  ;      //填充颜色
$fill-bg: #f7f7f7; // 背景色
$minor-bdcolor: #ECECEC;  // 次 - 边框/分割线
$track-bgcolor: #e3f2ff ;// 历史轨迹背景
$track-border: #e0e0e0;

$active-bg: #09F;   // 当前 - 背景颜色
// $active-bg: #00CC00   // 当前 - 背景颜色，绿色
$active-bg-a: rgba(0, 200, 0, 0.3) ;  // 当前 - 背景颜色
$active-ft: #FFF;     // 当前 - 前景颜色
$active-bd: #0F0 ;  // 当前 - 边框/分割线颜色

$disabled-bgcolor: #666 ;  // 非活跃 - 背景颜色
$disabled-color: #333  ;   // 非活跃 - 前景颜色
$disabled-bdcolor: #999 ; // 非活跃 - 边框/分割线颜色


$second-bgcolor: #464646 ;  // 第二背景色
$second-bdcolor: #555555  ; // 第二背景色

$third-bgcolor: #646464 ; // 第三背景色

// $floatLayerBGColor_a: rgba(34,34,34,.75)    // 主背景上的浮动透明层背景色
// $floatLayeractive-color: #DDD  // 浮层前景色-加亮
// $floatLayerColor: #AAA  // 浮层前景色

$map-card-color: rgba(0, 0, 0, 0.8); //地图字体颜色

$success-icon: #3B763E;
$failure-icon: #A94442;
$tab-button-bg: #E0ECF5;
$color-green: #27CA41;
$color: #ffffff;

// ---------- BLUE theme --------- begin
// bg: background
// ft: front, font-color
// bd: border
// sp: seperate line
//
$main-bg: #fff;
$head-bg: #4af ;//#09f  // title bar background color
$head-bg-alarm: #fc3 ;// alarm title
$head-bg-light: #6bf;
$head-ft: #eee;
$ctrl-bg: #eee ; // control bar background color
$ctrl-ft: #222;

$body-bg: #f5f5f5;  // the body background color
$body-sp: #e3e3e3 ; // the body's seperate border, 边框/分割线颜色
$body-ft: #666  ; // main message's color on body
$body-ft-light: #999  ;// hint's color on body

// float layer's color
$float-bg: rgba(255, 255, 255, 0.5);
$float-ft: #666;

$foot-bg: #eee ;  // foot bar background color
$foot-ft: #222;

$side-bg: #eee ;  // side bar background color
$side-ft: #222;
$mask-bg: rgba(0,0,0,.5);  // mask background's color

$grip-color: #ccc;   // 标题中 grip 的颜色

// ---------- GREEN theme --------- begin
$hover-bg: #CFC;
$weight: normal;
$color-white: #fff;
$color-black: #000;
$color-smoke: #f5f5f5;
// state color 
$color-error: #F00;
$color-warn: #f80;

$title-bgcolor: #e3e3e3 ; // 标题背景
$table-bgcolor: #e3e3e3 ; //表格背景
$title-color: #333  ;  // 标题前景

$table-body-border: #dedede;
$table-body-hover: #e7e7e7;

$icon-label-bg: #caeaff;


// $shadowcolor: rgba(0, 0, 0, 0.1)


// ------ size definition ------
$sidebar-width: 240px;
$map-sidebar-width: 26rem;
$map-sidebarlayer-width: 20rem;
$ovewview-width: 26.5rem;

$head-height: 2.6rem;
$foot-height: 2.6rem;

$unit-height: 3.4rem;
$title-height: 2.5rem ; // 标题高度

$tab-height: 2rem;

$ctrl-panel-height: 3rem;
$control-height: 2rem;
$control-radius: 2px;

$transition: all 0.3s ease 0s ; //

// -------- shadow -----------
$dialog-shadow: 5px 5px 25px rgba(0, 0, 0, .4);
$menu-shadow: 0px 1px 20px -5px rgba(0,0,0,.2);
$button-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
$login-button-shadow: 0px 2px 3px 1px rgba(255, 255, 255, 0.3);
$text-shadow: 0 -1px 0 #000;
$basic-shadow: 0 2px 2px #c6c6c6;
$tab-button-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);

// -------- border -----------
$border-current: 1px solid #c0c2c3;
$border-success: 2px solid #3399ff;
$border-error: 2px solid #ff5454;
$input-bottom: 2px solid #0099ff;

// -------- gradient -----------
$blue-gradient: linear-gradient(90deg, #0af, #09f);
$banner-blue-gradient: linear-gradient(30deg, #7cf, #09f);
$silver-gradient: linear-gradient(90deg, #eee, #e0e0e0);

// =top-radius($radius)
//   border-top-left-radius: $radius;
//   border-top-right-radius: $radius;

// =bottom-radius($radius)
//   border-bottom-left-radius: $radius
//   border-bottom-right-radius: $radius

//-------media definition-------
$width-small: 320px;
$width-medium: 769px;
$width-large: 1200px;
$width-maxlarge: 1400px;
$width-maxFinalarge: 1600px;

// 横竖屏判断：宽:高=?  TODO: use variable to define the parameter
$wh-ratio: 10/8;

//---------height definition---
$cartstate-height: 40px ; //标示选项卡高度


//-----width height definition---
$cart-title: 160px;
$map-cart-height: 200px;
$map-cart-width: 200px;

//----footer definition---
$icon-width: 24px;
$icon-height: 24px;

//---formctrl bgdefination--
$btn-del-color: #ff6057;



$header-active-color: #27ca40;
$select-active-color: #27ca41;
@mixin border-radius($amount: 2px){
  -moz-border-radius: $amount;
  -webkit-border-radius: $amount;
  border-radius: $amount
}
// ------- layout --------
@mixin wh($width,$height){//width and height
  width: $width;
  height: $height
}
@mixin absolute($left,$top){
  position: absolute;
  left: $left;
  top: $top
}
@mixin absolute-right($right,$top){
  position: absolute;
  right: $right;
  top: $top
}
@mixin fixed($left,$top){
  position: fixed;
  left: $left;
  top: $top
}
@mixin line-height($height,$line-height){//Vertical center of text
  height: $height;
  line-height: $line-height
}
@mixin font-color-pos($size,$color,$pos){
  font-size: $size;
  color: $color;
  text-align: $pos
}
@mixin font-color($size,$color){
  font-size: $size;
  color: $color
}
@mixin font-color-weight($size,$color,$weight){
  font-size: $size;
  color: $color;
  font-weight: $weight
}
@mixin align-center{
  display: flex;
  justify-content: center
}
@mixin align-middle{
  display: flex;
  align-items: center
}
@mixin justify-middle{
    display: flex;
    justify-content: center
}
 

@mixin align-middle-between{
  display: flex;
  align-items: center;
  justify-content: space-between
}
@mixin align-end{
  display: flex;
  align-items: flex-end
}
@mixin align-center-middle{
  display: flex;
  justify-content: center;
  align-items: center 
}
@mixin text-overflow{
  width: 100%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
@mixin popup-panel{
  position: absolute;
  background: $body-bg;
  color: $body-ft;
  box-shadow: $menu-shadow;
  padding: .5rem;
  overflow-y: scroll;
  display: flex;
  flex-flow: column nowrap;
  // width: 100%
  z-index: 9999;
}